html{
  background-color: #ffcc5c;
}
body {
  padding: 0;
  margin: 0;
}
/*Barra de navegació*/
ul {
  list-style-type: none;
  font-family: 'Denk One', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff6f69;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d96459;
}

.active {
  background-color: #ffeead;
  color: black;
}
/*Contenedor PACMAN*/
#myContainer{
    position:absolute;
    top: 280px;
    right:33.333%;
}

header{
  background-color: #96ceb4;
}

.paclogo{
  margin-left: 33.333%;
  margin-right:33.333%;
  padding-top: 30px;
  padding-bottom: 10px;

}

.drets{
  position:absolute;
  top: 75%;
  left:80%;
  border: 3px double black;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
}

div.drets p{
margin: 20px;
font-family: 'DotGothic16', sans-serif;
}

.peu{
  position:absolute;
  top: 92%;
  right:75%;
  border: 3px solid white;
  width: 380px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
}

div.peu p{
  background-color: white;
  margin: 10px;
  font-family: 'DotGothic16', sans-serif;
}
